<div style="margin-left: 15px;" class="col-md-8">
    <ul class="nav nav-tabs nav-justified" id="nav">
        <li role="presentation" id="nav_1" class="active" onclick="switchTab(1,0)">
            <a href="#">设备信息</a>
        </li>
        <li role="presentation" id="nav_2" onclick="switchTab(2,0)">
            <a href="#">系统时间</a>
        </li>
        <li role="presentation" id="nav_3" onclick="switchTab(3,1)">
            <a href="#">系统维护</a>
        </li>
    </ul>

    <ul id="tab_con" class="tab_con">
        <p></p>
        <li id="tab_con_1" class="active">
            <div class="panel panel-default">
              <div class="panel-heading">基本信息</div>
              <div class="panel-body">
                  <div class="row">
                  <div class="col-lg-6">
                    <div class="input-group">
                      <span class="input-group-addon">
                        设备名称
                      </span>
                      <input type="text" class="form-control" aria-label="...">
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
                  <div class="col-lg-6">
                    <div class="input-group">
                      <span class="input-group-addon">
                        设备编号
                      </span>
                      <input type="text" class="form-control" aria-label="...">
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                  <p></p>
                  <table class="table table-bordered table-striped">
                      <colgroup>
                          <col class="col-xs-1">
                          <col class="col-xs-3">
                      </colgroup>
                      <thead>
                      <tr>
                          <th>项目</th>
                          <th>信息</th>
                      </tr>
                      </thead>
                      <tr>
                          <td class="active">设备型号</td>
                          <td>111</td>
                      </tr>
                      <tr>
                          <td class="active">通道个数</td>
                          <td>111</td>
                      </tr>
                      <tr>
                          <td class="active">存储大小</td>
                          <td>111</td>
                      </tr>
                  </table>
              </div>
            </div>







        </li>
        <li id="tab_con_2">
            <div class="panel panel-default">
              <div class="panel-heading">系统时间</div>
              <div class="panel-body">
                  <div class="row">
                      <div class="col-lg-8">
                        <div class="input-group">
                          <span class="input-group-addon">
                            设备时间
                          </span>
                          <input type="text" class="form-control" aria-label="..." readonly="readonly" disabled="disabled">
                        </div><!-- /input-group -->
                      </div><!-- /.col-lg-6 -->
                  </div><!-- /.row -->
                  <p></p>
                  <div class="row">
                      <div class="col-lg-8">
                        <div class="input-group">
                          <span class="input-group-addon">
                            设置时间
                          </span>
                          <input type="text" class="form-control form_datetime" aria-label="...">
                           <span class="input-group-addon">
                            <input type="checkbox" aria-label="...">
                               <span>同步本机时间</span>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                  </div>
                  <p></p>

              </div>
            </div>
        </li>
        <script type="text/javascript">
            $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
        </script>
        <li id="tab_con_3">
            <div class="panel panel-default">
              <div class="panel-heading">重启</div>
              <div class="panel-body">
                  <div class="row">
                      <div class="col-lg-6">
                        <div class="input-group">
                          <span class="input-group-addon">
                            重启设备
                          </span>
                          <input type="text" id="reboot_btn" class="form-control btn btn-primary" role="button" value="重启" onclick="device_reboot()">
                        </div><!-- /input-group -->
                      </div><!-- /.col-lg-6 -->
                  </div><!-- /.row -->
                  <p></p>
              </div>
            </div>
        </li>
    </ul>
    <span>
        <input class="btn btn-primary" id="save_config_btn" role="button" value="保存" onclick="save_basic_config()">
        <p style="display:none" id="is_success">
            保存成功
        </p>
    </span>
</div>